
<!DOCTYPE html>
<html lang="en">
  <head>
		<% include shared/head  %>
  </head>

  <body>

		<% include shared/header  %>
    <div class="container">

      <div class="starter-template">
        <h1>Nodejs Sequelize Passport starter template Courtesy Brudex</h1>
        <p class="lead">Use this template to kickstart your nodejs apps</p>
        <p class="lead">Sign Up and Login already implemented</p>
      </div>

    </div><!-- /.container -->

		<% include shared/footerscripts %>
  </body>
</html>
