<!DOCTYPE html>
<!-- saved from url=(0018)http://adbeus.com/ -->
<html lang="en">
<head>
	<% include shared/head %>
</head>
<body class="home blog">
	<% include shared/header  %>
	<div class="container">

<div class="starter-template">
        <h1>Register</h1>
        </div>
		<div class="row">
			<form class="col-md-offset-3 col-md-5" method="post" action="/signup" >

				<% if(errors!=null){%>
					<div class="row">
						<div class="col s12 mdi-alert-warning">
							<%=errors[0]%>
						</div>
					</div>
					<% } %>


					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="first_name">First name</label>
						<input type="first_name" class="form-control" id="first_name" placeholder="Enter First name">
					</div>
					<div class="form-group">
						<label for="last_name">First name</label>
						<input type="last_name" class="form-control" id="last_name" placeholder="Enter Last name">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="confirm">Confirm Password</label>
						<input type="confirm" class="form-control" id="confirm" placeholder="Confirm Password">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>


				</form>
			</div>



		</div>
		<!-- CONTAINER END -->

 
		<% include shared/footerscripts %>
		<script type="text/javascript" src="javascripts/app/signup-validation.js"></script>

	</body>
	</html>
